<a href="https://colab.research.google.com/github/jgalazka/genelab-tools/blob/main/add_biotype_to_raw_counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Associate Biotype to Gene ID in raw counts table
Add gene biotype annotation to raw counts table and then export with and without rRNA genes.
Requires id2biotype.json file to build dictionary for associating gene id with biotype. Build with build_biotype_dictionary.ipynb notebook available here https://github.com/jgalazka/genelab-tools.

In [16]:
import pandas as pd
import numpy as np
import json

In [2]:
with open('id2biotype.json') as json_file:
    id_biotype_dict = json.load(json_file)

In [3]:
!wget https://genelab-data.ndc.nasa.gov/genelab/static/media/dataset/GLDS-289_rna_seq_Unnormalized_Counts.csv?version=3

--2021-08-02 21:20:58--  https://genelab-data.ndc.nasa.gov/genelab/static/media/dataset/GLDS-289_rna_seq_Unnormalized_Counts.csv?version=3
Resolving genelab-data.ndc.nasa.gov (genelab-data.ndc.nasa.gov)... 161.40.160.150, 161.40.160.171
Connecting to genelab-data.ndc.nasa.gov (genelab-data.ndc.nasa.gov)|161.40.160.150|:443... connected.
HTTP request sent, awaiting response... 307 307
Location: https://genelab-data.ndc.nasa.gov/geode-py/ws/studies/GLDS-289/download?file=GLDS-289_rna_seq_Unnormalized_Counts.csv&version=3 [following]
--2021-08-02 21:20:58--  https://genelab-data.ndc.nasa.gov/geode-py/ws/studies/GLDS-289/download?file=GLDS-289_rna_seq_Unnormalized_Counts.csv&version=3
Reusing existing connection to genelab-data.ndc.nasa.gov:443.
HTTP request sent, awaiting response... 302 FOUND
Location: https://genelab-repo-prod.s3.amazonaws.com/genelab-data/GLDS-289/rna_seq/GLDS-289_rna_seq_Unnormalized_Counts.csv?versionId=8nsQeup6.mJQJxGoapZCnVBmAd5blKjv&AWSAccessKeyId=ASIASEHL3NLH4EAHAKMO&Signature=AHbtLB%2BJxOZQpTdSBIBSfyuWBhE%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEOr%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJGMEQCIAfeByTzYFXU7P2Yr789KDa%2BFEguNylTkLMEp73hsvlDAiAd8%2Bgg1oedlSXsA5g0XBYPlMrM5iRblwsgmhEPf4uIiSqDBAjz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAMaDDE0NjUyMzUxNTU5OSIMgkBj2reAKHThjPPaKtcDFcjDVtcji2pZI2jGUl06ksTlYZ31X7rWn0iJeagnZlGFCghHYRbgKs8Es3iQaBwSpM9STF%2FPzbD9cMsLIfAiu4HxBKlufO8Xu0jb%2BiEYsR9l7IbkE%2Fhs1kJFiylbbGnwuPNceJfqeF0a%2FZwNcJWXwGVwio5vIQSIDBnnUZyhC5DE6XRpRjkK9WQMbTC2c3akw9OePG9pWBMsG7oXn2ANvfrux50ejdoJiGm4cJpgaNFi5uWYmPYgrxgy9rG%2Boh7kCq5t60qjOJL8eGWnUSOvYo0bCqvWQkPNZCwRs6WdLlWQBNpLXU6l7DL9ZtdhOKVNdS87L3ULgWkw1kpnCenS3rL3x7kKK3fNCBterOe%2FpHdWzukxJKXu3lTCHaFBhRX0epp7dxRCn53Y11b0mK0aYIB8J8DtNwjsJVDQmsvyjeGFzvzT2RVArgxvsitJYhKqib2ZENAa%2FZ5LYsy30vcoIVdvLeQ5sJOjubqBvRxhwVfkoBaE4YYL9mjH%2FSeZYxpftCjNsw93sRMBgNLQ%2BEMmIDd0R2kgzNU%2Ff0a96uqWETknj5qpr3zRmBW9fEnQDfwv0weZiYz74mMAzNGiVNkYSsNBMoB9ge5BFzgj7QbmriQROgsAOQ%2FkMI3joIgGOqYB3s6qyvE2a5H%2Fix2q2cfdau0jccb9H3BvQIhqfhB4RGV1Xif5aoziB%2Fs5%2BbY%2BJfpk5F4ZEJNOq1ewfbBTY1%2F%2FAqt5sjvLjc%2FHHXXFBbqBPsH%2F8mmc%2BryiV1Yg6zmsjhwKEn%2BbvdKYPTFKZx1qN5z4AnuyAE14JgFwvBlgGcDJ%2F7C%2FRtLvnv%2BLM0FlCka4LHBoDo2uvFbuyawrH7P4b0dxXhEl0Glavg%3D%3D&Expires=1627942858 [following]
--2021-08-02 21:20:58--  https://genelab-repo-prod.s3.amazonaws.com/genelab-data/GLDS-289/rna_seq/GLDS-289_rna_seq_Unnormalized_Counts.csv?versionId=8nsQeup6.mJQJxGoapZCnVBmAd5blKjv&AWSAccessKeyId=ASIASEHL3NLH4EAHAKMO&Signature=AHbtLB%2BJxOZQpTdSBIBSfyuWBhE%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEOr%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJGMEQCIAfeByTzYFXU7P2Yr789KDa%2BFEguNylTkLMEp73hsvlDAiAd8%2Bgg1oedlSXsA5g0XBYPlMrM5iRblwsgmhEPf4uIiSqDBAjz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAMaDDE0NjUyMzUxNTU5OSIMgkBj2reAKHThjPPaKtcDFcjDVtcji2pZI2jGUl06ksTlYZ31X7rWn0iJeagnZlGFCghHYRbgKs8Es3iQaBwSpM9STF%2FPzbD9cMsLIfAiu4HxBKlufO8Xu0jb%2BiEYsR9l7IbkE%2Fhs1kJFiylbbGnwuPNceJfqeF0a%2FZwNcJWXwGVwio5vIQSIDBnnUZyhC5DE6XRpRjkK9WQMbTC2c3akw9OePG9pWBMsG7oXn2ANvfrux50ejdoJiGm4cJpgaNFi5uWYmPYgrxgy9rG%2Boh7kCq5t60qjOJL8eGWnUSOvYo0bCqvWQkPNZCwRs6WdLlWQBNpLXU6l7DL9ZtdhOKVNdS87L3ULgWkw1kpnCenS3rL3x7kKK3fNCBterOe%2FpHdWzukxJKXu3lTCHaFBhRX0epp7dxRCn53Y11b0mK0aYIB8J8DtNwjsJVDQmsvyjeGFzvzT2RVArgxvsitJYhKqib2ZENAa%2FZ5LYsy30vcoIVdvLeQ5sJOjubqBvRxhwVfkoBaE4YYL9mjH%2FSeZYxpftCjNsw93sRMBgNLQ%2BEMmIDd0R2kgzNU%2Ff0a96uqWETknj5qpr3zRmBW9fEnQDfwv0weZiYz74mMAzNGiVNkYSsNBMoB9ge5BFzgj7QbmriQROgsAOQ%2FkMI3joIgGOqYB3s6qyvE2a5H%2Fix2q2cfdau0jccb9H3BvQIhqfhB4RGV1Xif5aoziB%2Fs5%2BbY%2BJfpk5F4ZEJNOq1ewfbBTY1%2F%2FAqt5sjvLjc%2FHHXXFBbqBPsH%2F8mmc%2BryiV1Yg6zmsjhwKEn%2BbvdKYPTFKZx1qN5z4AnuyAE14JgFwvBlgGcDJ%2F7C%2FRtLvnv%2BLM0FlCka4LHBoDo2uvFbuyawrH7P4b0dxXhEl0Glavg%3D%3D&Expires=1627942858
Resolving genelab-repo-prod.s3.amazonaws.com (genelab-repo-prod.s3.amazonaws.com)... 52.218.250.27
Connecting to genelab-repo-prod.s3.amazonaws.com (genelab-repo-prod.s3.amazonaws.com)|52.218.250.27|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3776683 (3.6M) [application/octet-stream]
Saving to: ‘GLDS-289_rna_seq_Unnormalized_Counts.csv?version=3’

GLDS-289_rna_seq_Un 100%[===================>]   3.60M  5.28MB/s    in 0.7s

2021-08-02 21:21:00 (5.28 MB/s) - ‘GLDS-289_rna_seq_Unnormalized_Counts.csv?version=3’ saved [3776683/3776683]

In [4]:
counts = pd.read_csv('GLDS-289_rna_seq_Unnormalized_Counts.csv?version=3', sep=',')
counts=counts.rename(columns = {'Unnamed: 0':'gene_id'})
counts.head()

              gene_id  ...  Mmus_C57-6J_TMS_MHU2_GC_1G_Rep3
0  ENSMUSG00000000001  ...                           1115.0
1  ENSMUSG00000000003  ...                              0.0
2  ENSMUSG00000000028  ...                            231.0
3  ENSMUSG00000000031  ...                             33.0
4  ENSMUSG00000000037  ...                             20.0

[5 rows x 19 columns]

In [5]:
meltcounts = pd.melt(counts, id_vars=['gene_id'], value_vars=counts.columns[1:])
meltcounts.columns = ['gene_id','sample','counts']
meltcounts['log2_counts'] = np.log2(meltcounts['counts'] + 1.0)
meltcounts['gene_biotype'] = meltcounts['gene_id'].map(id_biotype_dict)
meltcounts.head()
#meltcounts.to_csv('GLDS-289_meltcounts_biotype.csv')

In [6]:
counts['gene_biotype'] = counts['gene_id'].map(id_biotype_dict)
counts.head()

              gene_id  ...    gene_biotype
0  ENSMUSG00000000001  ...  protein_coding
1  ENSMUSG00000000003  ...  protein_coding
2  ENSMUSG00000000028  ...  protein_coding
3  ENSMUSG00000000031  ...         lincRNA
4  ENSMUSG00000000037  ...  protein_coding

[5 rows x 20 columns]

In [7]:
counts.to_csv('GLDS-289_biotype_counts.csv')

In [8]:
counts_no_rRNA = counts[counts['gene_biotype'] != 'rRNA'].iloc[:,:-1]

In [9]:
counts_no_rRNA.shape

(55182, 19)

In [10]:
counts.shape

(55536, 20)

In [11]:
counts_no_rRNA.head()

              gene_id  ...  Mmus_C57-6J_TMS_MHU2_GC_1G_Rep3
0  ENSMUSG00000000001  ...                           1115.0
1  ENSMUSG00000000003  ...                              0.0
2  ENSMUSG00000000028  ...                            231.0
3  ENSMUSG00000000031  ...                             33.0
4  ENSMUSG00000000037  ...                             20.0

[5 rows x 19 columns]

In [14]:
counts_no_rRNA.to_csv('counts_no_rRNA.csv', index=False)

In [15]:
counts.iloc[:,:-1].to_csv('counts.csv', index=False)